Package: making
Version: {{VERSION}}
Section: devel
Priority: Optional
Architecture: amd64
Depends: make,inotify-tools
Recommends: git
Installed-Size: {{DISK_USAGE}}
Maintainer: Adrien Horgnies <ah@fita.dev>
Description: {{DESCRIPTION}}
