Package: making
Version: {{VERSION}}
Architecture: amd64
Installed-Size: {{DISK_USAGE}}
Essential: no
Priority: Optional
Depends: make,inotify-tools
Recommends: git
Maintainer: Adrien Horgnies <ah@fita.dev>
Description: {{DESCRIPTION}}
